.idea
coorpacademy.iml
.DS_Store
_ai-cache
.sass-cache/
node_modules/
public/lib
test/coverage/
node_modules
.tmp
data/
app/bower_components
target
core/build-views
core/build-public
core/config/fileRev.json
custom/**/build-locales
custom/*/build-public
custom/**/public/css/
custom/**/public/documentation/styleguide/
!core/public/libs/**/build
test-results.xml
.grunt
*.log
*.pid
documentation/doc-groc
.aws.json
.vagrant/
docs/_build
log/mail/*
/nbproject/private/
/nbproject
/locales
dump.rdb
*.tmp
/tmp
*.zip
*.map
.netrc
.bower.json
desktop.ini
*.sublime-project
*.sublime-workspace
ssl/wildcard/**/*.key
.jscsrc

#Stylus
/core/stylus/*.css

# Style guide
/styleguide/dist

keys/x509/**/*.key
vm/coorp-*

heroku-*

/test/e2e/screenshot/*.png
